.header {
    height: 5rem;
    padding: 2.75rem 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
    
    &__nav {

        & ul {
            list-style: none;
        }

        & li {
            display: inline;
        }

        & a {
            text-decoration: none;
        }

        &__main-menu {
            margin-top: 0.25rem;

            &__item {
                text-transform: uppercase;
                font-size: 0.78rem;
                font-weight: 600;
                padding-left: 2rem;

                & a {
                    color: #fff;
                }
            }
        }

        &__sub-menu {
            display: none;
        }
    }
}